.homepage-container {
	.hero-background-image {
		height: 600px;
		background-image: url("https://wallpaperscraft.com/image/kittens_three_kids_muzzle_black_56532_3840x2400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	}

	.color-overlay {
		
	}
}